<?xml version="1.0"?>

<configuration>
  <system.net>
    <mailSettings>
      <smtp from="cret@milestone-nc.com">
        <network host="relay-hosting.secureserver.net" />
      </smtp>
      
    </mailSettings>
  </system.net>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
     <!-- <customErrors mode="Off"></customErrors>-->
    </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
    <!--<rewrite>
      <rules>
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.milestone-nc\.com$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.milestone-nc.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
</configuration>
